{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank You
{% endblock %}

{{ block content }}
  <p>Thank you for playing.</p>

  <p>To complete the study and return to prolific please <a href="https://app.prolific.co/submissions/complete?cc=CTJ7Z5D6">click here</a></p>

  <h3>About The Study</h3>

  <p>In this study we are interested in how beliefs about groups affect how people work together. We are also interested in how group outcomes affect those beliefs. Your data will help us to understand these questions. This is important because it can help us better understand how people work together in the real world.</p>


{{ endblock }}