{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
  Consent
{{ endblock }}
{{ block content }}

<p>Please read the following information and give your consent at the bottom if you wish to play.</p>

<h2>Psychology Study Exploring Human Social Behaviour</h2>

<p>
This study has been approved by the UCL Ethics Board. Project ID: ICN-NH-PWB-7-1-23A.
</p>
<p>
This study is being run by Charlie Pilgrim (c.pilgrim@ucl.ac.uk) under the supervision of Professor Nichola Raihani (n.raihani@ucl.ac.uk) in the Department of Experimental Psychology.
</p>
<p>
All data will be handled according to the General Data Protection Regulations and will be kept anonymous (your name will not appear in any publication related to this study and will not be shared with any other parties). Only researchers working with the Raihani Lab will have access to datafiles containing identifying information.
</p>
<p>
In this study, we will invite you to play a game with a group of five other players. Over a number of rounds of the game, we will give you coins that you can choose how to invest. The game itself will last approximately 10-15 minutes. Before and after the game we will ask you to fill out questionnaires that will include questions about your understanding of the game rules and your thoughts and beliefs about the game. Your responses will be anonymous. It will take you around 10-15 minutes to complete these survey questions.
</p>
<p>
There is a chance that you might not enjoy the game, and you are free to stop the study and to close your browser window at any time. If you become distressed during the game and end the study, you can contact us. Please contact the researchers and/or national support groups (for ‘The Samaritans’ call at 116 123 or email jo@samaritans.org) if you felt distressed and want to discuss what happened in the game.
</p>
<p>
You will be paid for playing this game and for completing the survey questions. You can also win extra bonus payments depending on the choices you and your group make during the game. 
</p>
<p>
Completely de-identified datafiles will be shared online in accordance with open-science practices. If you do not consent to de-identified data being shared, please do not take part in this study. If you decide you wish to exit the study, simply close your browser window. Note that we unfortunately cannot compensate you for your participation if you do so.
</p>
<p>
Once de-identified data have been shared, it may be difficult or impossible to withdraw consent for your anonymous data to be used. Please only take part in this study if you are happy for your anonymous data to be used in this way.
</p>

<h2>Local Data Protection Privacy Notice</h2>

<p>
Notice:
</p>
<p>
The controller for this project will be University College London (UCL). The UCL Data Protection Officer provides oversight of UCL activities involving the processing of personal data, and can be contacted at data-protection@ucl.ac.uk
</p>
<p>
This ‘local’ privacy notice sets out the information that applies to this particular study. Further information on how UCL uses participant information can be found in our ‘general’ privacy notice: For participants in health and care research studies, <a href="https://www.ucl.ac.uk/legal-services/privacy/general-privacy-notice" target="_blank">click here</a>
</p>
<p>
The information that is required to be provided to participants under data protection legislation (GDPR and DPA 2018) is provided across both the ‘local’ and ‘general’ privacy notices.
</p>
<p>
The lawful basis that will be used to process your personal data are: ‘Public task’ for personal data and’ Research purposes’ for special category data.
</p>
<p>
Your personal data will be processed so long as it is required for the research project. If we are able to anonymise or pseudonymise the personal data you provide we will undertake this, and will endeavour to minimise the processing of personal data wherever possible.
</p>
<p>
If you are concerned about how your personal data is being processed, or if you would like to contact us about your rights, please contact UCL in the first instance at data-protection@ucl.ac.uk.
</p>
<p>
If you do not wish to participate, or if you change your mind during the course of the study, please close your browser window.
</p>
<p>
Ethics Officer: ethics@ucl.ac.uk Data Protection Officer: Alex Potts, data-protection@ucl.ac.uk
</p>
<p>
If you wish to take part in this study, please tick ALL of the following boxes:
</p>

  {{ formfields }}

{{ next_button }}

{{ endblock }}
