{% extends "global/Page.html" %}
{% load otree %}
{% load static %}

{{ block title }}
  <div>
  
    <div class="row">


    <div class="col-md-6 offset-md-3">
    Instructions
      </div>
    </div>
</div>
{{ endblock }}
{{ block content }}

<div >
  


  <div class="row">
    <div class="col-md-6 offset-md-3">

        All 6 players in your group live in an area called <span class="big-group">Allshire</span>.
    </div>
  </div>

    <div class="row">

    <div class="col-md-6 offset-md-3">
        <img class="instruction-img" src="{{ static 'resources/diagram_b.png' }}"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">

        <h3>Quiz</h3>

    {{ formfields }}

    </div>
  </div>
  


  <div class="row">
    <div class="col-md-6 offset-md-3">
      {{ next_button }}
    </div>
  </div>
</div>





  


{{ endblock }}
