{% extends "global/Page.html" %}
{% load otree %}
{% load static %}

{{ block title }} 

  <div>
  
    <div class="row">

    	<div class="col-md-10 offset-md-1">
    Scenarios
      </div>
    </div>
</div>
{{ endblock }}
{{ block content }}

<div>
  
  <div class="row">

    <div class="col-md-8 offset-md-2">
      <p>
      Thank you for reading the instructions. We will now show you some scenarios that detail how players might choose to invest, and what that would mean for your bonus payments. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h3>Scenario 1</h3>

      <p>In this scenario you decide to keep the coin. The other 2 <span class="my-small-group">Westville</span> players invest in <span class="big-group">Allshire</span>. One of the <span class="other-small-group">Eastburgh</span> players invests in <span class="big-group">Allshire</span>, and the other two keep the coin. 
      </p>
    </div>
      <div class="col-6 col-md-3 offset-md-3">

        <h4><span class="my-small-group">Westville</span> Players</h4>
        <ul>
          <li>"Keep the coin" (You)</li>
          <li>"Invest in <span class="big-group">Allshire</span>"</li>
          <li>"Invest in <span class="big-group">Allshire</span>"</li>
        </ul>

      </div>
      <div class="col-6 col-md-3" >
        <h4><span class="other-small-group">Eastburgh</span> Players</h4>
        <ul>
          <li>"Invest in <span class="big-group">Allshire</span>"</li>
          <li>"Keep the coin"</li>        
          <li>"Keep the coin"</li>
        </ul>
      </div>
    
    <div class="col-md-8 offset-md-2">
    <p>Your Bonus Payments:</p>


      <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Group</th>
      <th scope="col">Target</th>
      <th scope="col">Bonus</th>
      <th scope="col">Investment</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr class="big-group">
      <td><span class="big-group">Allshire</span></td>
      <td>At least 4 players</td>
      <td>+ {{ gameConstants.GLOBAL_REWARD }} coins for ALL players</td>
      
      <td>
        <span class="dot bg-big-group"></span>
        <span class="dot bg-big-group"></span>
        <span class="dot bg-big-group"></span>
        <span class="dot bg-empty"></span>
        <span class="target-line bg-big-group"></span>
        <span class="dot bg-empty"></span>
        <span class="dot bg-empty"></span>
        </td>
        <td><i class="glyphicon glyphicon-remove"></i>+ 0 coins
  </td>
      
    </tr>

    <tr>
      <td>Yourself</td>
      <td>You choose "Keep the coin"</td>
      <td>+ 1 coin for YOU</td>
      <td><span class="dot bg-keep-it"></span></td>
      <td><i class="glyphicon glyphicon-ok"></i>+ 1 coin</td>
      
    </tr>

    <tr class="table-active">
      <td><strong>Your Total</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>1 coin<strong></td>
    </tr>
  </tbody>
</table>


    	

	</div>
</div>


  <div class="row">
    <div class="col-md-8 offset-md-2">

    	<h3>Quiz</h3>

    {{ formfields }}

    </div>
  </div>
  


  <div class="row">
    <div class="col-md-8 offset-md-2">
      {{ next_button }}
    </div>
  </div>
</div>





  


{{ endblock }}
